<!DOCTYPE html>
<html>
<head>
<title>HTML::FormHandler test</title>
<style type="text/css">
ul { padding-left: 0px; }
ul li { list-style-type: none; display: inline; padding: 10px; margin: 6px; }
ul li a { padding: 10px; border: 1px solid #999999; background: #eeeeee; }
label { display: inline-block; width: 5em; }

input { margin-bottom: 5px; }
span.error_message { display: block; padding:5px; background-color: #dd0000; color: #ffffff; margin:3px 0px 5px 0px; }

</style>
</head>
<body>
<p>Enter your name, postcode and email address</p>

<p><b>Old form (handcrafted).</b></p>

<form method="POST" action="/">
<label for="oldname">Name</label> <input type="text" id="oldname" name="name" value="" required><br>
<label for="oldpostcode">Postcode</label> <input type="text" id="oldpostcode" name="postcode" value="" required><br>
<label for="oldemail">Email</label> <input type="email" id="oldemail" name="email" value=""><br>
<input type="submit" value="Submit">
</form>

<hr>

<p><b>New form (HTML::FormHandler).</b></p>

[% form.render %]

<hr>

<ul>
<li><a href="/">Index</a></li>
</ul>

</body>
</html>
